<template name="favorites">	
	<div data-role="view" id="drawer-starred" data-layout="drawer-layout" data-title="Favorites" data-use-native-scrolling="true">
	    <ul data-role="listview">
	        <li data-icon="heart">Monday meeting</li>
	        <li data-icon="heart">Regarding org chart changes</li>
	        <li data-icon="heart">Re: Regarding org chart changes</li>
	        <li data-icon="heart">Your Costume is ready</li>
	        <li data-icon="heart">Out tonight?</li>
	    </ul>
	</div>
</template>