<template name="settings">
    <div data-role="view" id="drawer-settings" data-layout="drawer-layout" data-title="Settings" data-use-native-scrolling="true">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                Eduardo Batista
                <ul>
                    <li>Notify when online
                        <input type="checkbox" data-role="switch" checked>
                    </li>
                    <li>Administrator
                        <input type="checkbox" data-role="switch">
                    </li>
                    <li>Access to stats
                        <input type="checkbox" data-role="switch" checked>
                    </li>
                </ul>
            </li>
        </ul>
        <p>
            <a data-role="button" class="btn btn-primary btn-lg btn-block">Save</a>
        </p>
    </div>
</template>
